<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Vermillion Gym</title>
</head>

<body>
  <div class="game-frame">

    <div class="header-row">
      <div id="pokeLogo">
        <img src="images/pokemon-logo-vector.png" alt="Pokemon Logo">
      </div>
      <div id="vermillionHeader" class="shadow">
        Vermillion Gym
      </div>
    </div>
    <div class="players-frame">

      <div class="player-one-frame">
        <div class="nameBox" class="pulse" id="grimBox">
          Professor Grim
        </div>

      </div>
      <div class="player-two-frame">
        <div class="nameBox" id="chuckBox">
          Chuck
        </div>

      </div>


    </div>

  </div>

  <script src="/javascripts/main.js"></script>
</body>

</html>