<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" data-auto-replace-svg="nest"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/edited-styles.css' />
  <title>Vermillion Gym</title>
</head>

<body>
  <div id="app-frame" class="frame">
    <div id="game-frame">
      <!-- header -->
      <div class="header-row frame">
        <div id="pokeLogo" class="frame">
          <img src="images/pokemon-logo-vector.png" alt="Pokemon Logo">
        </div>
        <div id="vermillionHeader" class="shadow frame">
          Vermillion Gym
        </div>
      </div>
      <div class="content-row frame">
        <div class="pokedex-frame pokedex-one frame">
          <div class="nameBox" class="pulse">
            Professor Grim
          </div>
          <div class="scoreBox" id="playerOne-score-box">
            0
          </div>
          <div class="character-text-box">
            <div id="playerOne-name-box">

            </div>
          </div>

          <div class="stats">
            <div id="playerOne-stat-box" class="statsBox"></div>
          </div>
          <div class="pokemonContainer">
            <div id="oddishCircle" class="play-button" data="oddish" data-character="characterOne" data-player="playerOne"></div>
            <div id="gloomCircle" class="play-button" data="gloom" data-character="characterTwo" data-player="playerOne"></div>
            <div id="weezingCircle" class="play-button" data="weezing" data-character="characterThree" data-player="playerOne"></div>
          </div>
        </div>
        <div class="pokedex-frame pokedex-two frame">
          <div class="nameBox" class="pulse">
            chuck
          </div>
          <div class="scoreBox" id="playerTwo-score-box">
            0
          </div>
          <div class="character-text-box">
            <div id="playerTwo-name-box">

            </div>
          </div>
          <div class="stats">
            <div id="playerTwo-stat-box" class="statsBox"></div>
          </div>
          <div class="pokemonContainer">
            <div id="dragonairCircle" class="play-button" data="dragonair" data-character="characterOne" data-player="playerTwo"></div>
            <div id="butterfreeCircle" class="play-button" data="butterfree" data-character="characterTwo" data-player="playerTwo"></div>
            <div id="charmeleonCircle" class="play-button" data="charmeleon" data-character="characterThree"
              data-player="playerTwo"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/main.js"></script>
</body>

</html>