<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" data-auto-replace-svg="nest"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Vermillion Gym</title>
</head>

<body>
  <div class="game-frame">

    <div class="header-row">
      <div id="pokeLogo">
        <img src="images/pokemon-logo-vector.png" alt="Pokemon Logo">
      </div>
      <div id="vermillionHeader" class="shadow">
        Vermillion Gym
      </div>
    </div>
    <div class="players-frame">
      <div class="player-one-frame player-frame">
        <div class="nameBox" class="pulse" id="grimBox">
          Professor Grim
        </div>
        <div class="scoreBox" id="professorScore">
          0
        </div>
        <div class="row">
          <div class="pokemonContainer">
            <div id="professorPokemon">
              <div id="oddishCircle" class="spinningButton" data="oddish"></div>
              <div id="gloomCircle" class="spinningButton" data="gloom"></div>
              <div id="weezingCircle" class="spinningButton" data="weezing"></div>
            </div>
          </div>
        </div>

        <div class="row">





          <div class="pokemonNames">

            <div class="character-text-box">
              <div id="professorNames">
                ...
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="stats">
            <div id="professorStats" class="statsBox"></div>
          </div>
          <div class="play-game">

            <div class="play-game-button" data-player="professor">

              play

            </div>
          </div>
        </div>
      </div>

      <div class="player-two-frame player-frame">
        <div class="nameBox" id="chuckBox">
          Chuck
        </div>
        <div class="scoreBox" id="chuckScore">
          0
        </div>
        <div class="row">
          <div class="pokemonContainer">
            <div id="chuckPokemon">
              <div id="dragonairCircle" class="spinningButton" data="dragonair"></div>
              <div id="butterfreeCircle" class="spinningButton" data="butterfree"></div>
              <div id="charmeleonCircle" class="spinningButton" data="charmeleon"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pokemonNames">

            <div class="character-text-box">
              <div id="chuckNames">
                ...
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="stats">
            <div id="chuckStats" class="statsBox"></div>
          </div>
          <div class="play-game">
            <div class="play-game-button" data-player="chuck">

              play

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="/javascripts/main.js"></script>
</body>

</html>